// /**
//  * Copyright © 2019 Denistrator. No rights reserved.
//  * bitch
//  */

$block-inverse-color: #fff !default;
$block-title-size: 36px !default;
$block-description-size: 24px !default;

$block-image-size: cover !default;
$block-image-position: 50% 50% !default;

$overlay-opacity: 0.65 !default;

.block {
    &-inverse {
        color: $block-inverse-color;

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: inherit;
        }
    }
}
