// /**
//  * Copyright © 2019 Denistrator. No rights reserved.
//  * bitch
//  */

html {
    box-sizing: border-box;
}

*,
:before,
:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {

}

.container-fluid {
    max-width: 1170px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

div[class *="logo-holder"],
div[class *="img-holder"] {
    font-size: 0;
}

.ver-indents {
    &-parent {
        overflow: hidden;
        margin-top: -$grid-gutter / 2;
        margin-bottom: -$grid-gutter / 2;
    }

    &-child {
        padding-top: $grid-gutter / 2;
        padding-bottom: $grid-gutter / 2;
    }
}

.only {
    &-print {
        display: none !important;
        @media print {
            display: initial !important;
        }
    }

    &-js {
        .no-js & {
            display: none;
        }
    }
}

.no {
    &-print {
        @media print {
            display: none !important;
        }
    }
}
